body {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #d6d6d6;
    width: 35%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 0px;
}

.log-in, .log-out, .register {
  background-color: #5271ff;
  border-radius: 4px;
  color: #f8f8f8;
  font-size: medium;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #dddddd;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
