body {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.input-select {
margin: 20px;
}


.form{
padding-top: 30px;
padding-bottom: 30px;
    background-color: #d6d6d6;
    width: 35%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    text-align: left;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 0px;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}



.welcome .image{
  width: 100%;
  z-index: 0;
}

.welcome .message{
        position: absolute;
        z-index: 999;
        margin: 0;
        left: 50px;
        right: 0;        
        text-align: center;
        top: 25%; /* Adjust this value to move the positioned div up and down */
        background: rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        font-family: Arial,sans-serif;
        color: #fff;
        width: 60%; /* Set the width of the positioned div */
        padding-bottom: 50px;
    }

.title{
    font-size: 100px;
}

.subtitle{
font-size: 30px;
}

.card-title{
    text-align: center;
}

/* .info-card{
    margin-top: 20px;
    margin-bottom: 20px;
} */

.for-employer-button{
    text-align: center;
}

#services-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#employer-info-card{
padding-bottom: 20px;
}



.dashboard-content{
padding-top: 30px;
padding-bottom: 30px;
}

/* JOB BOARD STYLING */

.search-bar{
    margin-top: 30px;
    margin-bottom: 60px;
    align-content: center;
}

.opportunity-post{
  margin-top: 40px;  
}
