.footer-message, .footer-copyright {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 10px;
    text-align: left;
}



.footer {
  margin-top: 40px;
  overflow: hidden;
  background: rgb(102,51,255);
  background: linear-gradient(45deg, rgba(102,51,255,1) 30%, rgba(102,0,204,1) 100%);
  width: 100%;
  height: 10rem; 
  
}

.footer-link{
  color:white;
}

.footer-logos{
  margin-top: 20px;
  margin-left: 20px;
}