.nav-title {
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    color: #000000;
    /* padding-top: 30px; */
}

.nav-logo{
  padding: 10px;
}

.nav {
  /* overflow: hidden; */
  background-color: #e7e7e7;
}

.nav-link {
  float: left;
  color: #000000;
  background-color: transparent;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #dadada;
}

.nav-right {
  float: right;
}